app-version==1.0.1
APScheduler==3.6.3
certifi==2020.12.5
chardet==3.0.4
click==8.0.0
Werkzeug==2.0.0
Flask==2.0.0
gunicorn==20.1.0
idna==2.8
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
notify==0.3.1
notify-run==0.0.13
PyQRCode==1.2.1
python-telegram-bot==13.5
pytz==2021.1
requests==2.22.0
selenium==3.141.0
six==1.16.0
tornado==6.1
tzlocal==2.1
urllib3==1.25.11
validate-email==1.3
